
body {
    background-color: black;
}

.monospace {
    font-family: "Lucida Console", Courier, monospace;
}

p {
    background: #61509e;
    color: #ffff;
    border-radius: 10px;
    margin-right: 200px;
}

.header-blue {
    color: #1460aa;
}

footer {
    color: #ffffff;
}

.header-violet {
    color: blueviolet;
    font-size: 3rem;
    margin: 50px auto;
    min-width: 900px;
    width: 50%;
    border: 15px solid #fefefe;
    border-radius: 30px;
    padding: 10px;
    text-align: center;

}

a {
    color: #ee0e0e;
}

.menu-grey {
    max-width: 561px; 
    height: 40px;
    margin: 0 auto;
}

.header-content {
    color: #ffffff;
    max-width: 300px; 
    height: 20px; 
    background-color: rgb(88, 99, 100); 
    float:left;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #fefefe;
}

.header-notes {
    color: #ffffff;
    max-width: 300px; 
    height: 20px; 
    background-color: rgb(102, 114, 116); 
    float:left;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #fefefe;
}

.header-tasks {
    color: #ffffff;
    max-width: 300px; 
    height: 20px; 
    background-color: rgb(124, 137, 139); 
    float:left;
    padding: 20px;  
    border-radius: 20px;
    border: 3px solid #fefefe;
}

