html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
  color: #fefefe;
}

p {
  background-color: #b19e60;
  padding: 16px;
  border-radius: 10px;
  color: white;
}

footer {
  color: #ffffff;
  text-align: center;
}

.top {
  color: #fefefe;
  background: #b19e60;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
}

.span-yellow {
  color: yellow;
}

.navigation {
  margin: 30px auto;
  max-width: 686px;
}
.navigation__link {
  display: inline-block;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #fefefe;
  background-color: #cfbc7e;
  font-size: 20px;
  text-decoration: none;
}

.navigation__link--home-page {
  background-color: #b19e60;
}

.main-board {
  background: #ece4b7;
  border-radius: 10px;
  margin: 0 20px 30px 20px;
  border: 5px solid white;
  padding: 50px;
}

.header {
  color: #1460aa;
  background: #cfbc7e;
  border-radius: 10px;
  border: 1px solid #fefefe;
  margin-bottom: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.section {
  background: #cfbc7e;
  border-radius: 10px;
  padding: 16px;
  border: 1px solid #fefefe;
  position: relative;
}
.section__description {
  display: inline-block;
  background: #b19e60;
  border-radius: 10px;
  padding: 16px;
  max-width: 800px;
  min-height: 200px;
  position: absolute;
  top: 100px;
  right: 80px;
  left: 400px;
}
.main-board__link {
  position: relative;
  border: 1px solid #fefefe;
}

.section__muntain-picture {
  border-radius: 10px;
}

.section__title {
  display: inline-block;
  position: absolute;
  left: 400px;
  font-size: 2rem;
}

.links {
  padding: 15px 10px 10px 10px;
  border: 1px solid #fefefe;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.links__facebook {
  border-radius: 10px;
}

.links__linkedin {
  border-radius: 10px;
}

.board {
  height: 100%;
  background-color: #ece4b7;
  position: relative;
  box-sizing: border-box;
  border: 5px solid white;
  border-radius: 10px;
  margin: 20px 20px 30px 20px;
}

.week-summary__description {
  color: #fefefe;
  background-color: #b19e60;
}

.week-summary {
  padding: 16px;
  border: 1px solid #fefefe;
  border-radius: 10px;
  margin: 0px 50px 20px 50px;
  background-color: #cfbc7e;
  z-index: 1000;
}

.notes {
  color: #1460aa;
  text-align: center;
  font-size: 2rem;
  padding: 16px;
  border: 1px solid #fefefe;
  border-radius: 10px;
  margin: 30px 50px 20px 50px;
  background-color: #cfbc7e;
  position: sticky;
  top: 1px;
}
.week-summary__title {
  color: #fefefe;
}
